body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    height: '217px';
    width: 340px;
    /* font-size: 24px;
    line-height: 100px;
    text-align: center;
    background-color: grey;
    margin: 5px; */
}

.loadMore {
    background-color: #FA7C26;
    color: floralwhite;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

.contentTitle {
    height: 80px;
    width: 340px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px !important;
    color: #dc3545;
    text-decoration: none;
}

.card {
    max-height: 40rem;
}

.imgage {
    width: 100%;
    max-height: 10rem;
    aspect-ratio: 1/1;
}