.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 80vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    height: '217px';
    width: 340px;
    /* font-size: 24px;
    line-height: 100px;
    text-align: center;
    background-color: grey;
    margin: 5px; */
}

.loadMore {
    background-color: #FA7C26;
    color: floralwhite;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
}

.contentTitle {
    height: 80px;
    width: 340px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px !important;
    color: #dc3545;
    text-decoration: none;
}

.card {
    max-height: 40rem;
    min-height: 20rem;
    max-width: 25rem;
    overflow: hidden;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgage {
    max-height: 20rem;
    object-fit: contain;
    overflow: hidden;
}