.head:hover {
    color: black;
}

@media (min-width:768px) and (max-width:1024px) {
    .title {
        font-size: 26px !important;
        font-weight: 400;
        font-family: 'Roboto';
    }

    .head {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Roboto';
        color: '#FA7C26'
    }
}

@media (min-width:0px) and (max-width:767px) {
    .title {
        font-size: 26px !important;
        font-weight: 400;
        font-family: 'Roboto';
    }

    .head {
        font-size: 20px !important;
        font-weight: 700;
        font-family: 'Roboto';
        color: '#FA7C26' !important;
    }
}

.cover_image {
    margin: 10px 0px;
}

.cover_image img {
    width: 200px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.description {
    flex-direction: column;
}

.details span {
    font-weight: 600;
}

@media (max-width:768px) {
    .details {
        flex-direction: column;
    }

    .cover_image {
        margin: 0 auto;
    }
}