.paginationContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
  gap: 10px;
}

.paginationContainer button {
  border: none;
  margin: 0px 10px;
  border-radius: 20%;
  height: 50px;
  width: 50px;
}

.out-of {
  padding-top: 16px;
}