.searchInputContainer {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    width: 56%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 1rem;
    width: 87%;
    border: 1px solid #c8c7c7;
    border-radius: 999px;
    background-color: white;
}

.inputContainer input {
    width: 75%;
    height: 2.21rem;
    border: none;
    font-size: 16px;
}

.inputContainer input:focus {
    width: 75%;
    height: 2.21rem;
    border: none;
    outline: none;
}

.btn-search {
    height: 2.7rem;
    width: 7rem;
    background: blue;
    color: white;
    font-size: 18px;
    border-radius: 9999px;
    border: 0px
}

.search-icon {
    display: none;
}

.categoryDropdown {
    padding: 0 1rem;
    border-left: 1px solid #c8c7c7;
    width: 280px;
}

@media (width <=1024px) {
    .categoryDropdown {
        display: none;
        opacity: 0;
    }

    .inputContainer input {
        width: 100%;
    }

    .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: flex;
        font-size: 20px;
        padding-bottom: 2px;
    }
}

@media (width <=768px) {
    .btn-search {
        width: 2.7rem;
    }
}